@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
}

nav {
  background-color: rgb(243, 233, 207);
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  color: rgb(71, 156, 71);
  font-weight: bold;
}

nav .logo span {
  font-size: 1.4em;
}

nav .logo .dot {
  color: #f23322;
}
